.scheduler__calendar {
  /* height: 50px; */
  width: 80%;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.scheduler__images {
  height: auto;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.scheduler {
  display: flex;
  z-index: 100;
  /* border: 10px solid gray; */
}

.d-block {
  height: 662px;
}
